# Generated CloudFormation template, do not manually edit.
Description: Addis central source security groups

Parameters:
  VPC:
    Type: AWS::EC2::VPC::Id

Resources:
{resources}

Outputs:
{outputs}
